/**
 * DAF Base
 * @module base
 * @namespace daf-
 * @requires reset, fonts
*/

body{
	margin: 0;
	font-size: 14px;
}


/**
 * About text
*/
h1,h2,h3{ margin: .5em 0; }

/* Indiquer un surplus d'info. */
abbr,acronym{
	border-bottom: 1px dotted #000;
	cursor: help;
}

mark{
	background: #ff0;
	padding: .25em;
}

blockquote,ul,ol,dl{ margin: .5em; }

ol,ul,dl{ margin-left: 1em; }

ol{ list-style: decimal outside; }

ul{ list-style: disc outside; }

dl,dd{ margin-left: 1em; }

sub,sup {
	position: relative;
}

ul li, ol li{
	margin-bottom: 5px;
}

p,
fieldset,
pre{ margin-bottom: .5em; }

pre{ overflow: auto; }


/**
 * About link
*/
a{ background-color: transparent; }

a:active,
a:hover{ outline: 0; }


/**
 * About table
*/
table{
	margin-bottom: 1em;
	border-spacing: 0;
	border-collapse: collapse;
}

th,td{
	padding: 0;
}

caption{ margin-bottom: .5em; }

fieldset{
	padding: .3em;
	margin: 0 0 .5em;
	border: 1px solid #e5e5e5;
}

legend{
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: .5em;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}


/**
 * About form
 * -----------------------------------------------------------------
 * Opera requiï¿½res 1px de 'padding' pour rendre avec du chrome natif
*/
label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bolder;
}

input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"]{
	margin: 4px 0 7px;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"]{
	display: block;
	margin: 5px 0;
}

input[type="range"]{
	display: block;
	width: 100%;
}

select[multiple],
select[size]{
	height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

output{
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
}

button,
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	padding: 1px;
	cursor: pointer;
}

button{ overflow: visible; }

button,select{ text-transform: none; }

button[disabled],
html input[disabled]{ cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner{
	padding: 0;
	border: 0;
}

input{ line-height: normal; }

input[type="checkbox"],
input[type="radio"]{
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
        box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{ height: auto; }

input[type="search"]{
	-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{ -webkit-appearance: none; }


/**
 * About image
 * ------------------------------------------------------------------------------------------------------
 * make IE scale images properly
 * see http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/
img{
    -ms-interpolation-mode: bicubic;
	border: 0;
}


/**
 * About others
*/
hr{
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{ display: block; }

audio,
canvas,
progress,
video{
	display: inline-block;
	vertical-align: baseline;
}

/*
 * btn
*/

a.btn,
a.btn-default,
a.btn-primary,
a.btn-warm,
a.btn-info,
a.btn-link,
a.btn-succes{
    width: auto;
    text-decoration: none;
}


/*
 * alert
*/
.alert,
.alert-primary,
.alert-succes,
.alert-info,
.alert-warm{
	display: block;
	width: 97.8%;
	float:left;
	padding: 15px 1%;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.alert-primary{
	color: #3498DB;
	background-color: rgba(51, 122, 183, .3);
	border-color: rgba(51, 122, 183, .1);
}

	.alert-primary hr{ border-top-color: #C9E2B3; }

	.alert-primary .alert-link{ color: #22527A; }


.alert-succes{
	color: #1ABC9C;
	background-color: rgba(26, 188, 156, .3);
	border-color: rgba(26, 188, 156, .1);
}

	.alert-succes hr{ border-top-color: #C9E2B3; }

	.alert-succes .alert-link{ color: #10856e; }

.alert-info{
	color: #31708f;
	background-color: rgba(255, 206, 116, .3);
	border-color: rgba(255, 206, 116, .1);
}

	.alert-info hr{ border-top-color: #C9E2B3; }

	.alert-info .alert-link{ color: #F4C46D; }

.alert-warm{
	color: #a94442;
	background-color: rgba(192, 57, 43, .3);
	border-color: rgba(192, 57, 43, .1);
}
	.alert-warm hr{ border-top-color: #C9E2B3; }

	.alert-warm .alert-link{ color: #a94442; }

/*
 * list-group
*/
.list-group{
	margin-bottom: 20px;
	padding-left: 0;
}

.list-group-item{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #ffffff;
	border: 1px solid #ECF0F1;
}

.list-group-item:first-child{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.list-group-item:last-child{
	margin-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

a.list-group-item,
button.list-group-item{
	color: #555555;
	text-decoration: none;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading{ color: #333333; }

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus{
	text-decoration: none;
	color: #555555;
	background-color: #f5f5f5;
}

button.list-group-item{
	width: 100%;
	text-align: left;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus{
	background-color: #eeeeee;
	color: #777777;
	cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading{ color: inherit; }

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text{ color: #777777; }

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus{
	z-index: 2;
	color: #ffffff;
	background-color: #33A6CC;
	border-color: #0099cc;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small{ color: inherit; }

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text{ color: #9aecd2; }

.list-group-item-success{
	color: #1ABC9C;
	background-color: rgba(26, 188, 156, .3);
}

a.list-group-item-success,
button.list-group-item-success{ color: #1ABC9C; }

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading{ color: inherit; }

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus{
	color: #1ABC9C;
	background-color: rgba(26, 188, 156, .1);
}

a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus{
	color: #fff;
	background-color: rgba(26, 188, 156, .1);
	border-color: #1ABC9C;
}

.list-group-item-info{
	color: #31708f;
	background-color: rgba(255, 206, 116, .3);
}

a.list-group-item-info,
button.list-group-item-info{ color: #31708f; }

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading{ color: inherit; }

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus{
	color: #31708f;
	background-color: rgba(255, 206, 116, .2);
}

a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus{
	color: #fff;
	background-color: rgba(255, 206, 116, .2);
	border-color: #31708f;
}

.list-group-item-warm{
	color: #E74C3C;
	background-color: rgba(192, 57, 43, .3);
}

a.list-group-item-warm,
button.list-group-item-warm{ color: #E74C3C; }

a.list-group-item-warm .list-group-item-heading,
button.list-group-item-warm .list-group-item-heading{ color: inherit; }

a.list-group-item-warm:hover,
button.list-group-item-warm:hover,
a.list-group-item-warm:focus,
button.list-group-item-warm:focus{
	color: #E74C3C;
	background-color: rgba(192, 57, 43, .1);
}

a.list-group-item-warm.active,
button.list-group-item-warm.active,
a.list-group-item-warm.active:hover,
button.list-group-item-warm.active:hover,
a.list-group-item-warm.active:focus,
button.list-group-item-warm.active:focus{
	color: #fff;
	background-color: rgba(192, 57, 43, .1);
	border-color: #E74C3C;
}

.list-group-item-heading{
	margin-top: 0;
	margin-bottom: 5px;
}

.list-group-item-text{
	margin-bottom: 0;
	line-height: 1.3;
}

/*
 * btn-group
*/
.btn-group,
.btn-group-vertical{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group > .btn,
.btn-group-vertical > .btn{
	position: relative;
	float: left;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active{ z-index: 2; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group{ margin-left: -1px; }

.btn-toolbar{ margin-left: -5px; }

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group{ float: left; }

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group{ margin-left: 5px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle){ border-radius: 0; }

.btn-group > .btn:first-child{ margin-left: 0; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child){
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group > .btn-group{ float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn{ border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle{ outline: 0; }

.btn-group > .btn + .dropdown-toggle{
	padding-left: 8px;
	padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle{
	padding-left: 12px;
	padding-right: 12px;
}

.btn-group.open .dropdown-toggle{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-group.open .dropdown-toggle.btn-link{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn .caret{ margin-left: 0; }

.btn-lg .caret{
	border-width: 5px 5px 0;
	border-bottom-width: 0;
}

.dropup .btn-lg .caret { border-width: 0 5px 5px; }

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn{
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}

.btn-group-vertical > .btn-group > .btn{ float: none; }

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group{
	margin-top: -1px;
	margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child){ border-radius: 0; }

.btn-group-vertical > .btn:first-child:not(:last-child){
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child){
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn{ border-radius: 0; }

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-justified{
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}

.btn-group-justified > .btn,
.btn-group-justified > .btn-group{
	float: none;
	display: table-cell;
	width: 1%;
}

.btn-group-justified > .btn-group .btn{ width: 100%; }

.btn-group-justified > .btn-group .dropdown-menu{ left: auto; }
