.container{
    margin-top: 20px;
}

.titro{
    color: #fff;
	background-color: #0099cc;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
}

.admin-cover{
    width: 30px;
}
.admin-gallery{
    width: 70px;
}
.admin-egallery{
    width: 300px;
    display: block;
}
.admin-evideo{
    width: 500px;
    display: block;
}